
<footer>
    <h3 align="center"><a href="mailto:darkwraithcovenant@gmail.com">Contact</a></h3>
    <p align="center">
    <a href="https://twitter.com/darkwraithcoven" target="blank" style="background:black"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="darkwraithcoven" height="30" width="40" /></a>
    <a href="https://instagram.com/darkwraithcovenant" target="blank" style="background:black"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="darkwraithcovenant" height="30" width="40" /></a>
    <a href="https://www.youtube.com/@josedelara5334" target="blank" style="background:black"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg" alt="@josedelara5334" height="30" width="40" /></a>
    <a href="https://discord.gg/darkwraithcovenant#5991" target="blank" style="background:black"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/discord.svg" alt="darkwraithcovenant#5991" height="30" width="40" /></a>
    </p>
</footer> 