<pre role="img" class="mypre" aria-label="Darkwraith Covenant">
▓█████▄ ▄▄▄      ██▀███  ██ ▄█▀█     █░██▀███  ▄▄▄      ██▄▄▄█████▓██░ ██     ▄████▄  ▒█████  ██▒   █▓█████ ███▄    █ ▄▄▄      ███▄    █▄▄▄█████▓
▒██▀ ██▒████▄   ▓██ ▒ ██▒██▄█▒▓█░ █ ░█▓██ ▒ ██▒████▄   ▓██▓  ██▒ ▓▓██░ ██▒   ▒██▀ ▀█ ▒██▒  ██▓██░   █▓█   ▀ ██ ▀█   █▒████▄    ██ ▀█   █▓  ██▒ ▓▒
░██   █▒██  ▀█▄ ▓██ ░▄█ ▓███▄░▒█░ █ ░█▓██ ░▄█ ▒██  ▀█▄ ▒██▒ ▓██░ ▒▒██▀▀██░   ▒▓█    ▄▒██░  ██▒▓██  █▒▒███  ▓██  ▀█ ██▒██  ▀█▄ ▓██  ▀█ ██▒ ▓██░ ▒░
░▓█▄   ░██▄▄▄▄██▒██▀▀█▄ ▓██ █▄░█░ █ ░█▒██▀▀█▄ ░██▄▄▄▄██░██░ ▓██▓ ░░▓█ ░██    ▒▓▓▄ ▄██▒██   ██░ ▒██ █░▒▓█  ▄▓██▒  ▐▌██░██▄▄▄▄██▓██▒  ▐▌██░ ▓██▓ ░ 
░▒████▓ ▓█   ▓██░██▓ ▒██▒██▒ █░░██▒██▓░██▓ ▒██▒▓█   ▓██░██░ ▒██▒ ░░▓█▒░██▓   ▒ ▓███▀ ░ ████▓▒░  ▒▀█░ ░▒████▒██░   ▓██░▓█   ▓██▒██░   ▓██░ ▒██▒ ░ 
 ▒▒▓  ▒ ▒▒   ▓▒█░ ▒▓ ░▒▓▒ ▒▒ ▓░ ▓░▒ ▒ ░ ▒▓ ░▒▓░▒▒   ▓▒█░▓   ▒ ░░   ▒ ░░▒░▒   ░ ░▒ ▒  ░ ▒░▒░▒░   ░ ▐░ ░░ ▒░ ░ ▒░   ▒ ▒ ▒▒   ▓▒█░ ▒░   ▒ ▒  ▒ ░░   
 ░ ▒  ▒  ▒   ▒▒ ░ ░▒ ░ ▒░ ░▒ ▒░ ▒ ░ ░   ░▒ ░ ▒░ ▒   ▒▒ ░▒ ░   ░    ▒ ░▒░ ░     ░  ▒    ░ ▒ ▒░   ░ ░░  ░ ░  ░ ░░   ░ ▒░ ▒   ▒▒ ░ ░░   ░ ▒░   ░    
 ░ ░  ░  ░   ▒    ░░   ░░ ░░ ░  ░   ░   ░░   ░  ░   ▒   ▒ ░ ░      ░  ░░ ░   ░       ░ ░ ░ ▒      ░░    ░     ░   ░ ░  ░   ▒     ░   ░ ░  ░      
</pre>