      <nav>
        {% for item in site.data.navigation %}
        
         <button style="height: 40px;font-size: large; ">
           <a style="color: black; font-weight: bold;" href="{{ item.link }}" {% if page.url == item.link %} {% endif %}>
           {{ item.name }}</strong></a></button>
 
        {% endfor %}

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn"  style="height: 40px;font-size: large;color: black; font-weight: bold;">CATEGORIES</button>
      <div id="myDropdown" class="dropdown-content">

          {% for item in site.data.tags%}
          <a style="" href="{{ site.url}}/tag/{{ item.name }}/index.html">{{ item.name }}</a>
          {% endfor %}
  
      </div>
    </div>
    </nav>
    
  