body { color: white; background: rgb(45, 15, 15);cursor: url(/assets/images/cursor.cur), auto; }
 
.header { display: flex; justify-content: center;}

footer { padding: 1rem; }

.nav { text-align: center; font-size: large; }
 
.header { display: flex; justify-content: center; }

button.active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
  inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

.responsive { max-width: 35%; height: auto; }

iframe { width: 720px; height: 480px }

 /* styles the ASCII logo */
.logopre { background-color: #000; color: rgb(191, 0, 0); }

/* the main window content block */
.block { padding: 10px }

.blogtitle { font-size: large; }

/* alignment for videos */
.vidalign { padding: 1em; text-align: center; display: flex; justify-content: center }

.vidcap { justify-content: center; color: white; font-weight: normal; font-style: normal; text-align: center; }

/* site-wide text styling */
 p, li, ul, figcaption {
   color: white;
   font-size: 16px;
   font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

 p.center {
  text-align: center
 } 


/* removes bullets from list */
li.nobullet { list-style-type: none;}

/* resize ASCII logo for mobile */
@media only screen and (max-width: 950px) { 
  pre {font-size : 3pt;}
}

/* link stuff */
/* word wrapping for links */
a { word-wrap: break-word;}
a:link, a:visited { color:#ffae00; text-decoration: none; }
a:hover { color: #ff0081; text-decoration: none; }

 /* navbar stuff */
 .nav { text-align: center; font-size: large; }

 /* styling for the engaged nav button */
button.active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
  inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

/* dropdown for nav*/
.dropbtn:hover, .dropbtn:focus { background-color: lightgrey; box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
  inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

.dropdown { position: relative; display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: silver;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;} 

.show {display: block;}
