body {
  color: white;
  background: rgb(45, 15, 15);
  cursor: url(/assets/images/cursor.cur), auto;
 }

.nav {
  
  text-align: center;
  font-size: large;
}

.responsive {

  max-width: 35%;
  height: auto;
}

iframe {
  width: 720px;
  height: 480px
}

/* the content block */
.block {   
  padding: 10px
}

.vidalign {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.vidcap {
  justify-content: center;
  color: white;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.mypre {
  background-color: #000;
  color: rgb(191, 0, 0);
 }

 p, li, ul, figcaption {
   color: white;
   font-size: 16px;
   font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
   
}

a {
  word-wrap: break-word;
}

/*
h1, h2, h3, h4 {
   color: white;
   font-weight: normal;
   font-style: normal;
}
*/

footer {
padding: 1rem;
  }
  
@media only screen and (max-width: 950px) { 
  pre {
    font-size : 3pt;
  }

}

.blogtitle {
  font-size: large;
}

a:link {
  color:#ffae00;
  text-decoration: none;
}

a:visited {
  color:#ffae00;
  text-decoration: none;

}

a:hover {
  color: #ff0081;
  text-decoration: none;
}
a

.dropbtn:hover, .dropbtn:focus {
  background-color: lightgrey;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;} 

.show {display: block;}
a