<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page.title}}</title>
    <link rel="stylesheet" href=" {{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<body>

<div class="header">
<pre role="img" class="mypre" aria-label="Darkwraith Covenant">
     _____    ______   ______   __  __   __     __   ______   ______   __   ______  __  __       ______   ______   __   __ ______   __   __   ______   __   __   ______  
    /\  __-. /\  __ \ /\  == \ /\ \/ /  /\ \  _ \ \ /\  == \ /\  __ \ /\ \ /\__  _\/\ \_\ \     /\  ___\ /\  __ \ /\ \ / //\  ___\ /\ "-.\ \ /\  __ \ /\ "-.\ \ /\__  _\
    \ \ \/\ \\ \  __ \\ \  __< \ \  _"-.\ \ \/ ".\ \\ \  __< \ \  __ \\ \ \\/_/\ \/\ \  __ \    \ \ \____\ \ \/\ \\ \ \'/ \ \  __\ \ \ \-.  \\ \  __ \\ \ \-.  \\/_/\ \/ 
     \ \____- \ \_\ \_\\ \_\ \_\\ \_\ \_\\ \__/".~\_\\ \_\ \_\\ \_\ \_\\ \_\  \ \_\ \ \_\ \_\    \ \_____\\ \_____\\ \__|  \ \_____\\ \_\\"\_\\ \_\ \_\\ \_\\"\_\  \ \_\ 
      \/____/  \/_/\/_/ \/_/ /_/ \/_/\/_/ \/_/   \/_/ \/_/ /_/ \/_/\/_/ \/_/   \/_/  \/_/\/_/     \/_____/ \/_____/ \/_/    \/_____/ \/_/ \/_/ \/_/\/_/ \/_/ \/_/   \/_/ 
    </pre>
</div>


<h3> {{ page.description }} </h3>

   
<div>
    <p>{{ content}}</p> 
</div>

<footer>
    <p>Lorem ipsum dolor sit a met</p>
</footer>

</body>
</html>