<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/images/Dark Agent.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page.title}}</title>
    <link rel="stylesheet" href=" {{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<body>

<!-- here is the ascii art header -->
<div class="header">
    {% include logo.html %}
</div>

<!-- build the main content window -->
<div class="window" style="width: 75vw;  margin:auto ">
    <div class="title-bar">
      <div class="title-bar-text" style="font-size:x-large">
        <img src=" {{page.badge}} " alt="{{page.title}}"> {{page.title}}
      </div>
        

      <!-- these are the enlarged buttons with modifed svg -->
      <div class="title-bar-controls">
        <button style="height: 30px;width: 30px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="4" viewBox="0 0 6 2" fill="none">
                <rect width="24" height="8" fill="black"/>
            </svg>
          </button>
        <button style="height: 30px;width: 30px;">
            <svg width="18" height="18" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0H0V2V8V9H1H8H9V8V2V0ZM8 2H1V8H8V2Z" fill="black"/>
            </svg>
        </button>
        <button style="height: 30px;width: 30px;">
            <svg width="16" height="14" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1H2V1H3V2H4H5V1H6V0H7H8V1H7V2H6V3H5V4H6V5H7V6H8V7H7H6V6H5V5H4H3V6H2V7H1H0V6H1V5H2V4H3V3H2V2H1V1H0V0Z" fill="black"/>
            </svg>
            </button>
      </div>
    </div>
    
    <!-- This is the grey windows 95 body -->
    <div class="window-body">
        <section class="field-row" style="justify-content: center;">
            
            <div class="nav">
                <img src="https://darkwraithcovenant.com/assets/images/gifcity/blood.gif" class="responsive">
                {% include nav.html %}
            </div>
        </section>
        
        <!-- content goes here in the treeview (wihtout any trees, because there is no list)  -->
        <div class="tree-view" style="background-color: #010081;">
            <div class="block">
                <p>{{ content }}</p> 
            </div>
        </div>
    
        <!-- the footer content goes here -->
    {% include footer.html %}
    
    </div>
    <div class="status-bar">   
    <p style="text-align: center;" class="status-bar-field"><img src="/assets/images/badges/noweb3.gif"></p>
    <p style="text-align: center;" class="status-bar-field"><img src="/assets/images/badges/antinazi.gif"></p>
    <p style="text-align: center;" class="status-bar-field"><img src="/assets/images/badges/antinft.gif"></p>
    </div>
      
</div>
</body>
</html>
