<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page.title}}</title>
    <link rel="stylesheet" href=" {{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<body>


    
<!-- here is the ascii art header -->
<div class="header">
    {% include logo.html %}
</div>


<div class="window" style="margin: 32px; ">
    <div class="title-bar">
      <div class="title-bar-text">
        {{page.title}}
      </div>

      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <section ss="field-row" style="justify-content: flex-end;">
        <div class="nav">
            {% include nav.html %}
        </div>
        <ul class="tree-view" style="background-color: teal;">
            <h4> {{ page.description }} </h4>
            <div class="block">
                <p>{{ content}}</p> 
            </div>
        </ul>
      </section>
    </div>
  </div>




   


{% include footer.html %}

</body>
</html>