<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page.title}}</title>
    <link rel="stylesheet" href=" {{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<body>

<div class="header">
    {% include ASCII.html %}
</div>


<h3> {{ page.description }} </h3>

   
<div>
    <p>{{ content}}</p> 
</div>

{% include footer.html %}

</body>
</html>